# for debugging
debugpy
uvicorn[standard]>=0.23.2,<0.24.0

#for scraping
crawl4ai
playwright
selenium
beautifulsoup4
bs4

# for data analysis
jupyterlab
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
scipy
xgboost

# for testing
pytest
pytest-cov
pytest-mock


